.gal-box {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;

    img {
        max-width: 100%;
        height: auto;
    }
}