<div class="content-page">
    <h2>{{ 'welcome.title' | translate }}</h2>

    <p>{{ 'welcome.location' | translate }}</p>
    <p>{{ 'welcome.description' | translate }}</p>

    <p>{{ 'welcome.staff' | translate }}</p>

    <h3>{{ 'rooms.title' | translate }}</h3>

    <ul>
        <li>
            <i class="fa fa-wifi"></i>
            <p>{{ 'rooms.wifi' | translate }}</p>
        </li>
        <li>
            <i class="fa fa-snowflake-o"></i>
            <p>{{ 'rooms.airConditioner' | translate }}</p>
        </li>
    </ul>
    <br>
    <br>
    <p>{{ 'welcome.footer' | translate }}</p>
</div>
